* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    flex: none;
}

.square {
    background-color: aliceblue;
    border: solid 1px black;
    flex: none;
}

button {
    padding: 0.5em;
    font-size: 18px;
    margin: 0.5em
}

.resize-button:hover {
    cursor: pointer;
}